_legacy
scratch
best_practices_pdf
.agents/credentials/
credentials/
*.json
raw

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.jupyter/
*.db
*.sqlite

# Quarto
.quarto/
*_files/
_freeze/
_environment
